header img{
    width: 150%;
}
header a{
    width: 7%;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    margin-right: 25%;
    
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 150%;
    margin-left: 60px;
    font-family: "Poppins", sans-serif;
    font-weight:bold;
}
nav a:hover{
    color:  #4778c5;
} 

.Descripcion{
    display: flex;
    flex-direction: row;
}
.Descripcion img{
    width: 45%;
    margin-left: 65px;
}
.Descripcion h1{
    width: 38%;
    margin-left: 48px;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.Descripcion p{
    position: absolute;
    margin-left: 150px;
}
#compra{
    margin-top: 10%;
    margin-left: 54%;
    font-size: 20px;
}
#compra1{
    text-align: center;
    background-color: #4778c5;
    color: white;
    margin-top: 50px;
    position: absolute;
    border-radius: 20px;
    align-content: center;
    width: 25%;
    margin-left: 36%;
    height: 80px;
    font-size: 21px;
    font-family: "Poppins", sans-serif;
    margin-left: 55%;
    margin-top: 14%;
}
#detalle{
    text-align: center;
    background-color: #C1C1C1;
    color: white;
    margin-top: 50px;
    position: absolute;
    border-radius: 20px;
    align-content: center;
    width: 15%;
    margin-left: 36%;
    height: 80px;
    font-size: 21px;
    font-family: "Poppins", sans-serif;
    margin-left: 55%;
    margin-top: 23%;
}
.boton a{
    text-decoration: none;
    color: white;
    
}
.des > h1{
	color: #494B4D;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 15px 0px;
}

.des > h1:after{
	content: '';
	width: 100%;
	height: 1px;
	background: #C7C7C7;
	margin: 20px 0;
}

.specs-container {
    display: flex;
    justify-content: center;
}
table {
    width: 60%;
    border-collapse: collapse;
    background-color: white;
}
th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #f5f5f5;
}


p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media screen and (max-width:900px){
	header{
        margin-right: 175px;
      }
      header nav a{
        margin-left: 24px;
        font-size: 20px;
      }

  .Descripcion h1{
    width: 49%;
    margin-left: 10px;
    font-size: 23px;
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

 #compra{
    margin-top: 18%;
 }
 #compra1{
    margin-top: 25%;
    width: 35%;
 }
 #detalle{
    margin-top: 38%;
    width: 25%;
 }
 .des{
    margin-top: 20%;
 }
}

@media screen and (max-width: 600px){
	header{
		margin-right: 130px;
	  }
	  header nav a{
		margin-left: 20px;
		font-size: 16px;
	  }
	  header img{
		width: 62px;
		}
  .Descripcion img{
    margin-left: 15px;
  }
  .Descripcion h1{
    font-size: 16px;
  }
  #compra{
    margin-top: 16%;
    margin-left: 49%;
    font-size: 14px;
 }
 #compra1{
    margin-top: 25%;
    width: 36%;
    font-size: 16px;
 }
 #detalle{
    margin-top: 45%;
    width: 25%;
 }
 .des{
    margin-top: 39%;
 }
}
@media screen and (max-width: 450px){
	header{
    width: 100%;
	margin-left: -7px;
}
  header nav a{
    margin-left: 11px;
    font-size: 12px;
	margin-right: 20px;
    width: 100%;
  }
  header img{
    width: 52px;
    }
    #compra{
        margin-top: 19%;
        margin-left: 49%;
        font-size: 14px;
     }
     #compra1{
        margin-top: 29%;
        width: 36%;
        font-size: 16px;
     }
     #detalle{
        margin-top: 49%;
        width: 25%;
     }
}
